body{
    background-color: #F9EADA;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
/* nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
/* nav bar */
  li {
    float: left;
  }
/* nav bar */ 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
/* nav bar */ 
  li a:hover:not(.active) {
    background-color: #050505;
  }
  
  /* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #97886B;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: white;
    width: 100%;
    padding: 10px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: #97886B;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 10px;
    text-align: center;
    background: #050505;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }