* {
  font-family: 'Alice';
  border-radius: 10px;
  color: black;
}

body {
  background-color: #6d614b !important;
}

h2 {
  text-align: center;
  font-weight: bolder;
  font-style: italic;
}

footer>h2 {
  background: rgb(27, 26, 26);
  color: white;
}

/* Acima é o CSS modelo, abaixo do comentário é sobre Home */

.card {
  background-color: #7c715b !important;
}

.carousel {
  display: flex;
  overflow: hidden;
  height: 500px;
  width: 600px;
  margin: 0 auto !important;
}

.container {
  height: 600px;
  width: 600px;
  display: flex;
  transition: transform 0.5s linear;
  transform: translateX(0);
}

.img {
  object-fit: cover;
  width: 600px;
  height: 100%;
  border-radius: 30px;
}

/* nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(27, 26, 26);
}

/* nav bar */
li {
  float: left;
}

/* nav bar */
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(27, 26, 26);
}

/* nav bar */
li a:hover:not(.active) {
  background-color: #050505;
  color: white;
  transition-duration: 1s;
  transition-timing-function: linear;
  border-radius: 10px;
  ;
}

/* Abaixo haverá o CSS da página Atividades & Metas */

.centerlize {
  margin: 0 auto !important;
  text-align: center;
}

progress,
::-webkit-progress-value {
  width: 500px;
  background-color: aqua;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}